#a{
    background-image: url(https://wallpaperaccess.com/full/635988.png);
    background-size: cover;
    background-position: center;
    background-size: cover;
    font-family: "Comic Sans MS";
    justify-content: center;
}
td,th{
    text-align: center;
    border: 2px solid blueviolet;
    padding-left: 30px;
}